<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf.music.gateway.dao.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.zzf.music.gateway.entity.UserInfo">
        <id property="pkUserInfo" column="pk_user_info" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="photo" column="photo" jdbcType="VARCHAR"/>
        <result property="source" column="source" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="DATE"/>
        <result property="createDateTime" column="create_date_time" jdbcType="TIMESTAMP"/>
        <result property="modDate" column="mod_date" jdbcType="DATE"/>
        <result property="modDateTime" column="mod_date_time" jdbcType="TIMESTAMP"/>
        <result property="timeStamp" column="time_stamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        pk_user_info
        ,user_name,login_name,
        password,photo,source,
        create_date,create_date_time,mod_date,
        mod_date_time,time_stamp
    </sql>

    <select id="selectByLoginName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from t_user_info
        where login_name = #{loginName}
    </select>
</mapper>
